@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
	color: #fff;
}

.supportedChainBg {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(27, 27, 27, 1) 20%,
		rgba(27, 27, 27, 1) 80%,
		rgba(0, 0, 0, 1) 100%
	);
}
